$mainWhite:     #FFFFFF;
$light-gray:    #999999;
$chara-black:   #434A54;
$sky-blue:      #38AEF0;


$color-sidebar-chara:             $mainWhite;
$color-header-background:         $mainWhite;

$color-chat-supplement:           $light-gray;
$color-chat-button:               $sky-blue;
$color-chat-basechara:            $chara-black;

$color-notification-background:   $sky-blue;
$color-notification-p:            $mainWhite;
