$mainWhite:       #FFFFFF;
$light-gray:      #999999;
$chara-black:     #434A54;
$sky-blue:        #38AEF0;
$intence-orange:  #F35500;


$color-sidebar-chara:             $mainWhite;
$color-header-background:         $mainWhite;

$color-chat-supplement:           $light-gray;
$color-chat-button:               $sky-blue;
$color-chat-button-chara:         $mainWhite;
$color-chat-basechara:            $chara-black;

$color-notification-background-notice:  $sky-blue;
$color-notification-background-alert:   $intence-orange;
$color-notification-p:                  $mainWhite;
