.sidebar
  %header.top
    %h2.top__name
      user_name
    %ul.top__setting
      %li
        =link_to "#" do
          =fa_icon "edit"
      %li
        =link_to "#" do
          =fa_icon "cog"
  .contents
    %ul.groups
      =render partial: "shared/group"
