.sidebar
  %header.top
    %h2.top__name
      user_name
    %ul.top__setting
      %li
        =link_to "#" do
          =fa_icon "edit"
      %li
        =link_to "#" do
          =fa_icon "cog"
  .contents
    %ul.groups
      %li.group
        %h3.group__name
          sample_group
        %p.group__latest-message
          sample_message
      %li.group
        %h3.group__name
          sample_group
        %p.group__latest-message
          sample_message
