.notification{
  text-align: center;
  .notice{
    background-color: $color-notification-background-notice;
    p{
      color: $color-notification-p;
    }
  }
  .alert{
    background-color: $color-notification-background-alert;
    p{
      color: $color-notification-p;
    }
  }
}
