.notification{
  height: 25px;
  background-color: $sky-blue;
  p{
    text-align: center;
    color: $mainWhite
  }
}
.wrapper{
  @include clearfix()
  @import "./modules/sidebar";
  @import "./modules/chat";
}
